@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;600;700&display=swap');

/* :root{
    --primary-color: #a855f7;
    --primary-color-dark: #9333ea;
    --secondary-color: #facc15;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #faf5ff;
    --max-width: 1200px;
} */

*{
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background-image: url("ab1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: gainsboro;
    z-index: 99;
}

.nav__content {
    max-width: var(--max-width);
    color: orange;
    background-color: gray;
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a{
    font-size: 2rem;
    font-weight: 300;
    color: black;
    transition: .3s;
}
 nav .logo a:hover {
    color: var(--primary-color-dark); 
 }

 nav .checkbox {
    display: none;
 }

 nav input{
    display: none;
 }
     nav .checkbox i{
         font-size: 2rem;
         color: var(--primary-color);
         cursor: pointer;
     }

     ul {
         display: flex;
         align-items: center;
         gap: 1rem;
         list-style: none;
         transition: left 0.3s;
     }

     ul li a {
         padding: 0.5rem 1rem;
         border: 2px solid transparent;
         text-decoration: none;
         font-weight: 600;
         color: var(--text-dark);
         transition: 0.3s;
     }
      
     ul li a:hover{
         border-top-color: var(--secondary-color);
         border-bottom-color: var(--secondary-color);
         color: var(--secondary-color); 
     }

     .section {
         background-color: var(--extra-light);
     }

     .section__container {
         min-height: 100vh;
         max-width: var(--max-width);
         margin: auto;
         padding: 1rem;
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         gap: 4rem;
     }

     .content {
         display: flex;
         color: white;
         flex-direction: column;
         justify-content: center;
     }

     .subtitle {
         letter-spacing: 2px;
         color: gainsboro;
         font-weight: 600;
         margin-bottom: 8rem;
     }

     .tittle {
         font-size: 3rem;
         font-weight: 400;
         line-height: 3rem;
         color: gainsboro;
         margin-bottom: 2rem;
     }

     .title span {
         font-weight: 100;
     }

     .description {
        font-size: 1.25rem;
        line-height: 2rem;
        width: 60%;
         color: wheat;
         margin-bottom: 3rem; 
     }
     .description {
        font-family: 'Arial', sans-serif;
        font-size: 16px;
        line-height: 1.5;
        margin: 0; /* Removes default margin */
        padding: 10px; /* Adds some padding for better readability */
      }
    .action__btns {
         display: flex;
         gap: 5rem;
     }
     
    .action__btns button {
         font-size: 1.75rem;
         font-weight: 300;
         letter-spacing: 2px;
         padding: 1rem 2rem;
         outline: b;
         border: 2px solid var(--primary-color);
         border-radius: 10px;
         transition: .3s;
         cursor: pointer;
     }

 .hire__me {
    background-color: var(--primary-color);
    color: white;
}     

 .hire__me:hover {
    background-color: var(--primary-color-dark);
}

 .portfolio {
    color: black;
}

 .portfolio:hover {
    background-color: var(--primary-color-dark);
    color: #ffffff;
}

 .image {
    display: grid;
    place-items: center;
}

 .image img {
    width: min(20rem, 60%);
    border-radius: 100%;
}

@media (width < 750px) {
  nav .checkbox {
        display: block;
   }

   ul {
     position: absolute;
     width: 100%;
     height: calc(100vh - 85px);
     left: -100%;
     top: 85px;
     background-color: var(--extra-light);
     flex-direction: column;
     justify-content: center;
     gap: 3rem;
    }

   nav #check:checked ~ ul {
    left: 0;
 }

 ul li a {
    font-size: 1.5rem;
}

 .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
}

 .image {
    grid-area: 1/1/2/2;
}

  .action__btns {
    margin: auto;   
}
}
.contact-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 100px;
  }

  .title__contact{
    color: #333;
  }

  p {
    color: #666;
  }

  form {
    margin-top: 20px;
  }

  label {
    display: block;
    margin-bottom: 8px;
    color: #333;
  }

  input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #2980b9;
  }    
